<div class="all-lists">
    <form class="form-horizontal" ng-submit="addList()">
        <h3>Create a new list</h3>
        <div class="control-group">
            <label class="control-label" for="listName">Name</label>
            <div class="controls">
                <input type="text" id="listName" ng-model="listName" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="listDescription">Description</label>
            <div class="controls">
                <input type="text" id="listDescription" ng-model="listDescription" placeholder="Description">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="Create list">
            </div>
        </div>
    </form>

    <h3>Your lists</h3>
    <ul class="pretty-lists">
        <li ng-repeat="list in lists">
            <div>
                <a type="button" class="btn" ng-href="#/list/{{list.id}}">See items</a>
                <input type="button" class="btn" ng-click="removeList($index)" value="Delete">
            </div>
            <p class="list-name">{{list.name}}</p>
            <p>{{list.description}}</p>
        </li>
    </ul>
</div>